@import './variable';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

//flex
.d-flex {
  display: flex;
}
.f-1 {
  flex: 1;
}

//margin
@each $size in $box-size {
  .m-#{$size} {
    margin: #{$size}px;
  }
  .mt-#{$size} {
    margin-top: #{$size}px;;
  }
  .mr-#{$size} {
    margin-right: #{$size}px;;
  }
  .mb-#{$size} {
    margin-bottom: #{$size}px;;
  }
  .ml-#{$size} {
    margin-left: #{$size}px;;
  }
}

//width
@each $w in $width-size {
  .mw-#{$w} {
    min-width: #{$w}px;
  }
}

//line
@for $i from 1 through 3 {
  .ellipsis-#{$i}-line {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $i;
    -webkit-box-orient: vertical;
  }
}